@media (min-width: 1024px){
footer {
    background-color :#4F5049;
    padding-bottom: 5em;
}
#logo_footer {

        width: 10em;
        height: 10em;
        display: inline;
        padding: 3em 3em;
        text-align: center;
    
}
.center_img {
    text-align: center;
}
#list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

}
.footer_list {
    padding: 2em 2em;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 1.5em;
}
}
@media (max-width: 1023px){
    body {
        margin: 0;
    }
    footer {
        background-color :#4F5049;
        padding-bottom: 5em;
    }
    #logo_footer {
    
            width: 8em;
            height: 8em;
            display: inline;
            padding: 3em 3em;
            text-align: center;
        
    }
    .center_img {
        text-align: center;
    }
    #list_container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        padding: 0;
    
    }
    .footer_list {
        padding: 2em 2em;
        color: white;
        text-decoration: none;
        list-style: none;
        font-size: 1em;
    }
    }